main-app
[{"id":"e74a483d.94fc78","type":"tab","label":"Flow 1"},{"id":"5691e3f6.e0d63c","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"251d4634.acf9ba","type":"twitter-credentials","z":"","screen_name":"@aydin_ayanzadeh"},{"id":"b106f15b.b3595","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"aa2800ae.ee69c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"66943092.cc31f","type":"twitter in","z":"e74a483d.94fc78","twitter":"251d4634.acf9ba","tags":"#zarif","user":"false","name":"my favorite","topic":"tweets","inputs":1,"x":268,"y":375,"wires":[["9f38d073.2f5d3","c14dad3b.29454"]]},{"id":"9f38d073.2f5d3","type":"debug","z":"e74a483d.94fc78","name":"","active":true,"console":"false","complete":"payload","x":594.5,"y":156,"wires":[]},{"id":"c14dad3b.29454","type":"e-mail","z":"e74a483d.94fc78","server":"smtp.gmail.com","port":"587","secure":false,"name":"beyoghlu@gmail.com","dname":"mail","x":602.5,"y":214,"wires":[]},{"id":"cfac9214.0c904","type":"openweathermap in","z":"e74a483d.94fc78","name":"weather","lon":"","lat":"","city":"istanbulcccdc","country":"cddturkey","language":"en","x":268.5,"y":446,"wires":[["90573b21.816778","6f7432be.2f158c","55314c1b.1a8cc4"]]},{"id":"11dde9fa.1d8656","type":"e-mail","z":"e74a483d.94fc78","server":"smtp.gmail.com","port":"587","secure":false,"name":"beyoghlu@gmail.com","dname":"weather","x":816.5,"y":251,"wires":[]},{"id":"90573b21.816778","type":"function","z":"e74a483d.94fc78","name":"weather cheecking","func":"if (msg.payload.weather == \"Clear\" && msg.payload.windspeed<32 && msg.payload.humidity<70) {\nmsg.payload = msg.payload.description + \"\\n Cloudness:\"+ msg.payload.clouds+ \"%\" +\"\\n\"+ \"\\nhumidity:\"+msg.payload.humidity+ \"%\"+ \"\\n Temperature:\"+  msg.payload.tempc+ \"celcious \\n\" +\"wind speed:\"+msg.payload.windspeed+\"m/s\\n\"+\"suggestions: \\n\"+\"1- don not forget your sunglasses. \\n 2-it will bw suitable for walking and taking photo, \\n3-the amount of humidity is not too high so normal wearing is suitable for this weather,\\n  4- the wind speed is also normal so swimming in the sea or open-pool is good case to have more fun. \";\n \n  return msg;\n}\nelse \nif (msg.payload.weather == \"Clear\" && msg.payload.windspeed<32 && msg.payload.humidity>=70) {\nmsg.payload = msg.payload.description + \"\\n Cloudness:\"+ msg.payload.clouds+ msg.payload.pressure+\n\"%\" +\"\\n\"+ \"\\nhumidity:\"+msg.payload.humidity+ \"%\"+ \"\\n wind speed:\"+msg.payload.windspeed+\"Km\\n\"+ \"pressure:\" +msg.payload.pressure +\"PhA\"+\"Suggestions: 1-it will bw suitable for walking and taking photo,2-do not forget your sunglasses\\n 3- the amount of humidity is  high, therefore, weather is humid enough to have thin wearning -  and the wind speed is also normal so swimming in the sea or open-pool is good case to have more fun. taking  photo in this condition due to lack of cloudiness. \";\n \n  return msg;\n}\nelse \nif (msg.payload.weather == \"Rainy\" && msg.payload.windspeed<60 ) {\n\n  msg.payload = msg.payload.description+ \"\\nCloudness:\" +msg.payload.clouds+ \"%\" +\"\\n \" + \"pressure:\" +msg.payload.pressure + \"PhA\"+ \"\\nhumidity:\"+msg.payload.humidity+ \"%\"+ \"\\n wind speed:\"+msg.payload.windspeed+\"m/s\"+\"take your umbrella, the weather is going to be rainy!\";\n  return msg;\n}\nelse \nif (msg.payload.weather == \"sun\" && msg.payload.windspeed<60 ) {\n  msg.payload = \"Dont forget your suglasses!\\n\"+msg.payload.description + \"\\nCloudness:\" +msg.payload.clouds+ \"%\" +\"pressure:\"+msg.payload.pressure  +\"PhA\"+\"\\ntake your umbrella!.\"+ \"\\nhumidity\"+msg.payload.humidity+ \"%\"+\"\\n wind speed\"+msg.payload.windspeed+\"m/s\";\n  return msg;\n\n}\nelse \nif (msg.payload.weather == \"Clear\" && msg.payload.humidity>75&& msg.payload.windspeed<60  ) {\n  msg.payload = \"the weather is cloudy and humıd\" +msg.payload.description + \"Cloudness:\"+msg.payload.clouds+ \"%\"+ \"pressure:\"+msg.payload.pressure   +\"The weather is so humid!!.\"+ \"humidity\"+msg.payload.humidity+\"%\"+ \"wind speed\"+msg.payload.windspeed+\"m/s\";\n  return msg;\n}\n\nelse \nif (msg.payload.weather ==\"light rain\"&& msg.payload.windspeed<60 ) {\n  msg.payload = msg.payload.description+ \"\\nCloudness:\"+msg.payload.clouds+ \"%\"  + \"\\n humidity\"+msg.payload.humidity+ \"%\\n\"+\"pressure:\"+msg.payload.pressure + \"\\n wind speed\"+msg.payload.windspeed+\"m/s\" +\"\\nwe will have a light rain until atmost 3hours!\" + \"take your umbrella\";\n  return msg;\n}\nelse \n\nif (msg.payload.weather ==\"clear sky\"&& msg.payload.windspeed<32 && msg.payload.humidity<75  ) {\n   \n  msg.payload = \"the weather is going to be rainy!\"+ msg.payload.description+ \"\\nCloudness:\" +msg.payload.clouds+ \"%\" +\"\\n take your umbrella!.\"+ \"\\nhumidity\"+msg.payload.humidity+\"%\"+ \"\\n wind speed\"+msg.payload.windspeed+\"m/s\" + \"\\npressure:\"+msg.payload.pressure+ \"suggestions: \\n1-it will bw suitable for walking and taking photo,2-do not forget your sunglasses\\n 3- the amount of humidity is  high, therefore, weather is humid enough to have thin wearning -  and the wind speed is also normal so swimming in the sea or open-pool is good case to have more fun. taking  photo in this condition due to lack of cloudiness. \" ;\n  return msg;\n}\nelse \nif (msg.payload.detail == \"overcast clouds\"&& msg.payload.windspeed<60 ) {\n  msg.payload = \"the weather is going to be rainy!\"+msg.payload.description + \"\\nCloudness:\"+msg.payload.clouds+ \"%\"  +\"\\ntake your umbrella!.\"+ \"\\nhumidity\"+msg.payload.humidity+ \"%\"+\"\\n wind speed\"+msg.payload.windspeed+\"m/s\"+ \"\\npressure:\"+msg.payload.pressure ;\n  return msg;\n}\nelse \nif (msg.payload.detail == \"overcast clouds\"&& msg.payload.windspeed<32 && msg.payload.clouds>80 ) {\n  msg.payload = \"the weather is going to be rainy!\"+msg.payload.description + \"\\nCloudness:\"+msg.payload.clouds+ \"%\"  +\"\\ntake your umbrella!.\"+ \"\\npressure:\"+msg.payload.pressure + \"\\n humidity\"+msg.payload.humidity+ \"%\"+\"\\n wind speed\"+msg.payload.windspeed+\"m/s\";\n  return msg;\n}\n\n\nelse\n\n\nif (msg.payload.detail  == \"moderate rain\"&& msg.payload.windspeed<32 ) {\n  msg.payload = \"the weather is going to be rainy!\"+msg.payload.description + \"Cloudness:\"+msg.payload.clouds+ \"%\"  + \"humidity\"+msg.payload.humidity+ \"%\"+ \"\\n wind speed\"+msg.payload.windspeed+\"m/s\" ;\n  return msg;\n}\n\nelse\n\nif (msg.payload.detail  == \"Thunderstorm\"&& msg.payload.windspeed<32 ) {\n  msg.payload = \"the weather is going to be rainy!\" +\"\\npressure:\"+msg.payload.pressure ;\n  return msg;\n}\n\nelse\n\nif (msg.payload.detail==\"broken clouds\"&& msg.payload.windspeed<32) {\n  msg.payload =  msg.payload.description+ \"Temperature:\"+ msg.payload.tempc+\"\\n Cloudness:\" +msg.payload.clouds+ \"%\"  +\"\\n\"+ \"humidity\"+msg.payload.humidity+ \"%\"+\"\\n wind speed\"+msg.payload.windspeed+\"m/s\"+ \"\\n suggestions: \\n\" + \"1- don not forget your umberalla. \\n 2-it will bw suitable for walking and taking photo, \\n3-the amount of humidity is not too high so normal wearing is suitable for this weather,\\n  4- the wind speed is also normal so swimming in the sea or open-pool is good case to have more fun. \";\n  return msg;\n}\n\nelse\n\nif (msg.payload.weather == \"Light intensity drizzle rain\"&& msg.payload.windspeed<32 ) {\n  msg.payload = \"the weather is going to be rainy!\"+msg.payload.description+ \"Cloudness:\" +msg.payload.clouds+ \"%\" +\"take your umbrella!.\"+ \"humidity\"+msg.payload.humidity+ \"%\"+ \"\\n wind speed\"+msg.payload.windspeed+\"m/s\" + \"\\nsuggestions: \\n do not forgot your umbrella, the weather is great for walking, drizzle rain creats a greate scene in the nature\";\n  return msg;\n}\nelse\n\nif (msg.payload.detail == \"light intensity shower rain\" ) {\n  msg.payload = \"the weather is going to be rainy!\"+msg.payload.description+ \"Cloudness:\" +msg.payload.clouds+ \"%\" +\"take your umbrella!.\"+ \"humidity\"+msg.payload.humidity+ \"%\"+ \"\\n wind speed\"+msg.payload.windspeed+\"m/s\"+\"\\nsuggestions: \\n do not forgot your umbrella \";\n  return msg;\n\n}\n\nelse\nif (msg.payload.detail == \"scattered clouds\" && msg.payload.windspeed<32 && msg.payload.humidity>70) {\nmsg.payload = msg.payload.description + \"\\n Cloudness:\"+ msg.payload.clouds+ \"%\" +\"\\n\"+ \"\\nhumidity:\"+msg.payload.humidity+ \"%\"+ \"\\n Temperature:\"+  msg.payload.tempc+ \"celcious \\n\" +\"wind speed:\"+msg.payload.windspeed+\"m/s\\n\"+\"suggestions: \\n\"+\"1- don not forget your umberalla. \\n 2-it will bw suitable for walking and taking photo, \\n3-the amount of humidity is not too high so normal wearing is suitable for this weather,\\n  4- the wind speed is also normal so swimming in the sea or open-pool is good case to have more fun. \";\n \n  return msg;\n}\nelse\nif (msg.payload.detail == \"few clouds\" && msg.payload.windspeed<32 && msg.payload.humidity>=70 && msg.payload.Clouds>30) {\nmsg.payload = msg.payload.description + \"\\n Cloudness:\"+ msg.payload.clouds+ \"%\" +\"\\n\"+ \"\\nhumidity:\"+msg.payload.humidity+ \"%\"+ \"\\n Temperature:\"+  msg.payload.tempc+ \"celcious \\n\" +\"wind speed:\"+msg.payload.windspeed+\"m/s\\n\"+\"suggestions: \\n\"+\"1- don not forget your umberall. \\n 2-it will bw suitable for walking and taking photo, \\n3-the amount of humidity is high so sumer wearing is suitable you,\\n  4- the wind speed is also normal so swimming in the sea or open-pool is good case to have more fun. \";\n \n  return msg;\n}\nelse\nif (msg.payload.detail == \"few clouds\" && msg.payload.windspeed<32 && msg.payload.humidity>=70 && msg.payload.Clouds<=30) {\nmsg.payload = msg.payload.description + \"\\n Cloudness:\"+ msg.payload.clouds+ \"%\" +\"\\n\"+ \"\\nhumidity:\"+msg.payload.humidity+ \"%\"+ \"\\n Temperature:\"+  msg.payload.tempc+ \"celcious \\n\" +\"wind speed:\"+msg.payload.windspeed+\"m/s\\n\"+\"suggestions: \\n\"+\"1- don not forget your sunglasses. \\n 2-it will bw suitable for walking and taking photo, \\n3-the amount of humidity is high so sumer wearing is suitable you,\\n  4- the wind speed is also normal so swimming in the sea or open-pool is good case to have more fun. \";\n \n  return msg;\n}\n\n\n","outputs":"1","noerr":0,"x":599.5,"y":285,"wires":[["11dde9fa.1d8656"]]},{"id":"f671761d.c8c8f8","type":"twitter out","z":"e74a483d.94fc78","twitter":"251d4634.acf9ba","name":"Tweet","x":824.5,"y":310,"wires":[]},{"id":"6f7432be.2f158c","type":"function","z":"e74a483d.94fc78","name":"flood alarming","func":"if (msg.payload.weather == \"heavy intensity shower rain\") {\n  msg.payload = msg.location.city+ \" will have high intensity rain today, I suggest that, do not bring your private vehicles to the street for traffic managment!!\";\n  return msg;\n}\n\n\n\nelse\nif (msg.payload.detail == \"heavy intensity rain\") {\n  msg.payload =msg.location.city+\" will have high intensity rain today, I suggest that, do not bring your private vehicles to the street for traffic managment!!\";\n  return msg;\n}\n\n","outputs":1,"noerr":0,"x":581.5,"y":341,"wires":[["f671761d.c8c8f8","2543c420.6d9e2c"]]},{"id":"55314c1b.1a8cc4","type":"function","z":"e74a483d.94fc78","name":"storm alarm","func":"if (msg.payload.windspeed>24) {\n\n  msg.payload = \"the wind speed is\" + \"\\n wind speed\"+msg.payload.windspeed+\"m/s\"+\"the probablity of hurican is too high, therefore, it is better to leave the city until the 3 hour!\";\n  return msg;\n}\nelse\n\nif (msg.payload.windspeed>100 && msg.payload.windspeed>117) {\n\n  msg.payload = \"the wind speed is\"  +\"\\n wind speed\"+msg.payload.windspeed+\"m/s\"+\"the probablity of storm is too high, therefore, it is better to leave the city until the 3 hour!\";\n  return msg;\n}\nelse\n\n\nif (msg.payload.windspeed>75 && msg.payload.windspeed>102) {\n\n  msg.payload = \"the wind speed is about\" +msg.payload.windspeed+\"Km\"+\"it is better avoid to walk alongside of the seas, moreover, this windspeed creats High waves and foam streaks, so weather is not better for swimming\";\n  return msg;\n}\n","outputs":1,"noerr":0,"x":578.5,"y":381,"wires":[["d397d861.a809d8","f26f1f5c.4e242"]]},{"id":"d397d861.a809d8","type":"twitter out","z":"e74a483d.94fc78","twitter":"251d4634.acf9ba","name":"Tweet2","x":827.5,"y":445,"wires":[]},{"id":"2543c420.6d9e2c","type":"e-mail","z":"e74a483d.94fc78","server":"smtp.gmail.com","port":"587","secure":true,"name":"beyoghlu@gmail.com","dname":"email2","x":824.5,"y":354,"wires":[]},{"id":"f26f1f5c.4e242","type":"e-mail","z":"e74a483d.94fc78","server":"smtp.gmail.com","port":"587","secure":true,"name":"beyoghlu@gmail.com","dname":"email3","x":831.5,"y":403,"wires":[]}]
